# Application
VITE_APP_TITLE=ARE Observability Dashboard

# Dynatrace Integration
VITE_DYNATRACE_EMBED_URL=

# Elastic Integration
VITE_ELASTIC_EMBED_URL=

# SSO Configuration
VITE_SSO_ENABLED=false
VITE_SSO_CLIENT_ID=
VITE_SSO_AUTHORITY=